/* line 1, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
body {
  width: 100%; }

/* line 4, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.glyphicon {
  color: #f57d2f; }

/* line 7, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.facebook {
  display: none; }
  @media (min-width: 768px) {
    .facebook {
      display: inline-block;
      text-align: right;
      padding: 1em 0 0 0; }
      /* line 13, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
      .facebook a {
        color: #000;
        font-size: 0.8em;
        padding-right: 1em; } }
  @media (min-width: 1024px) {
    /* line 20, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
    .facebook a {
      padding-right: 5.5em; }
 }

/* line 25, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
ul {
  list-style: none; }
  /* line 28, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
  ul li {
    text-decoration: none; }

/* line 32, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.banner {
  padding-bottom: 2em; }

/* line 35, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.bold {
  font-weight: bold; }

/* line 38, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.cabeza {
  margin: 1em 0; }
  @media (min-width: 768px) {
    .cabeza {
      border-bottom: solid #eee 2px; } }

/* line 45, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.icon-menu {
  margin-top: 0.6em; }
  @media (min-width: 768px) {
    .icon-menu {
      display: none; } }

/* line 51, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.subscribir {
  margin-top: 0; }

/* line 54, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.menu {
  display: none; }
  @media (min-width: 768px) {
    .menu {
      display: block;
      text-align: right; }
      /* line 59, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
      .menu li {
        display: inline-block;
        padding: 0.3em 0.4em; }
      /* line 63, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
      .menu a {
        text-decoration: none;
        color: black; }
        /* line 66, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
        .menu a:hover {
          color: #f57d2f; } }

/* line 72, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.email {
  padding-bottom: 2em; }

/* line 75, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.servicios {
  background-color: #f0f0f0;
  text-align: center;
  padding: 1.5em 0; }
  /* line 79, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
  .servicios figure {
    padding: 1.5em; }
  /* line 82, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
  .servicios h6 {
    padding: 2em;
    line-height: 1.5; }
  @media (min-width: 768px) {
    /* line 87, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
    .servicios figure {
      display: inline-block; }
      /* line 89, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
      .servicios figure figcaption {
        line-height: 2;
        font-size: 0.7em; }
 }
  @media (min-width: 1024px) {
    /* line 97, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
    .servicios h6 {
      padding: 0 20rem; }
 }

/* line 102, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.como-llegar {
  text-align: center;
  padding: 1.5em 0 0 0; }

/* line 106, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
.contacto {
  text-align: center;
  padding: 1.5em 0;
  background-color: #f0f0f0; }
  @media (min-width: 768px) {
    /* line 111, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
    .contacto .col-sm-6 {
      text-align: left;
      margin-top: 1.5em; }
 }

/* line 119, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
footer ul {
  padding: 0; }
  @media (min-width: 768px) {
    footer ul {
      text-align: right; } }
  /* line 126, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
  footer ul li {
    display: inline-block;
    font-size: 0.5em; }
    @media (min-width: 768px) {
      footer ul li {
        font-size: 0.6em; } }
    /* line 134, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
    footer ul li a {
      text-decoration: none;
      list-style: none; }
/* line 140, C:/Users/manotas/Desktop/Todo-WEB/prueba-maquetacion/estilos.scss */
footer .pie {
  text-align: right; }
